body{
    position: relative;
}
.container{    
display: block;
text-align: center;
margin-top: 130px;
margin-left: auto;
margin-right: auto;

}
#p1{
    font-size: 13px;
}

#top-nav-div{
    display: block;
    margin-left:auto;
    font-size: 13px;
    width: 250px;
   
}
.top-nav{
    word-spacing: 20px;
}
#top-nav-signUp{
    background-color: rgb(25, 155, 206);
    text-align: center;
    height: 30px;
    font-size: 13px;
}
.google-image{
  
    
}
.search-box{
  height: 50px;
  margin-top: 30px;
  width: 500px;
  border-radius: 40px;
  
    
}
button{
    background-color: #f2f2f2;
    color: rgb(41, 38, 38);
    height: 40px;
    border-radius: 5px;
    

}
.clickbutton{
    padding-top: 20px;
}
footer{
    background-color: #f2f2f2;
    margin-top: 100px;
    padding-bottom: 20px;
    
    
}
.footerNav{
    padding-top: 20px;
    text-align: left;
    padding-left: 30px;
    word-spacing: 20px;
    font-size: 13px;
    
}
#unspaced{
    word-spacing:1px;
}
#footer-right-nav{
    word-spacing: 20px;
    text-align: right;
    align-content: right;
    font-size: 13px;
}

group{
    font-size: 13px;
    word-spacing: 20px;
    
    

}